@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Abril+Fatface&family=Aguafina+Script&family=Outfit:wght@100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing:border-box;
    /* font-family: "Outfit", sans-serif; */
  
    list-style: none;
    text-decoration: none;

}
 html{
    scroll-behavior: smooth;
 }

.container{
    padding: 0px 30px;
    margin: auto;
    max-width: 1200px;
}

/* ==============SECTION-01=========== */
.section-01 {
    background-image: url(Legal-img/Frame\ 74202.jpg);
    background-repeat: no-repeat;
   background-size: cover;
   padding-top: 40px;
   border-bottom: 1px solid  rgb(201,200,207,0.3);
    
    
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 7px;
}

.nav-iteam {
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav-iteam  li a  {
    font-size: 16px;
    line-height:  1.6em;
    font-weight: 400;
    color: #686770;
    font-family: "Outfit", sans-serif;
}





.sing-up {
    display: flex;
    align-items:center ;
    gap: 14px;
}

.Loging {
    font-size: 16px;
    line-height:  1.6em;
    font-weight: 400;
    color: #686770;
}


.get-btn {
    background-color: rgb(255, 255, 255);
    padding: 12px 24px 12px 24px;
    border: 1px  solid #7842E8;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    color: #7842E8;
    font-size: 16px;
    line-height:  1.6em;
    font-weight: 400;
    font-family: "Outfit", sans-serif;
    transition: 0.50s ease-in-out;

}
 

.get-btn:hover  {
    background-color: #7842E8;
    color: #FFF;
}
/* ===========SECTION-02==== */

.section-02 {
    background-image: url( Legal-img/Frame\ 74198.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1194px;
    padding-top: 122px;
}

.hero-heading {
 max-width: 749px;
    margin: auto;
    text-align: center;
}


.hero-h6 {
    font-size: 18px;
    line-height: 1.6em;
    font-weight: 500;
    color: #7842E8;
    font-family: "Outfit", sans-serif;

}

.hero-h1 {
    font-size: 66px;
 line-height: 130%;
 font-weight: 600;
color: #2E2E32;
 padding-top: 10px;
 padding-bottom: 20px;
 font-family: "Outfit", sans-serif;

}

.hero-p {
    max-width: 637px;
    margin: auto;
    font-size: 18px;
    line-height: 1.6em;
    font-weight: 400;
    color: #919099;
    padding-bottom: 24px;
    font-family: "Outfit", sans-serif;
}
.plan {
    margin: auto;
    background-color: transparent;
    width: 145px;
    height: 35px;
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid #7842E8;
    border-radius: 45px;
   
}


.Monthly {
    background-color: #7842E8;
    padding: 8px 16px;
    border-radius: 60px;
    font-size: 12px;
    line-height: 1.6em;
    font-weight: 400;
    color: #FFFFFF;
    font-family: "Outfit", sans-serif;
}




.pricing-section {
    display: flex;
    gap: 30px;
   
padding-top: 77px;

}

.prceing-logo img {
    padding-bottom: 32px;
}
 

     .pricing-card {
        background-color: #FFFF;
        padding: 32px 26px 32px 26px;
      text-align: center;
       
        box-shadow: 0px 4px 32px  rgb(234,234,236);
        align-items: center;
        border-top: 6px solid #7842E8; 
        border-radius: 24px;
     
}



.priceing-plan {
 
    min-height: 131px;
    font-family: "Outfit", sans-serif;
    text-align: center;
    
}

.priceing-plan h2 {
    font-size: 50px;
    line-height: 130%;
    font-weight: 600;
    color: #2E2E32;
    text-align: center;
    font-family: "Outfit", sans-serif;
}

.priceing-plan h2 span{
    font-size: 18px;
    line-height: 160%;
    font-weight: 400;
    color: #919099;
}
 

.p-one {
    font-size: 14px;
    line-height: 160%;
    font-weight: 400;
    color: #2E2E32;
    padding-top: 8px;
    
    font-family: "Outfit", sans-serif;
    max-width: 637px;
    margin: auto;
    text-align: center;
}

.priceing-plan h6 {
    font-size: 20px;
    line-height: 140%;
    font-weight: 500;
    color: #7842E8;
    font-family: "Outfit", sans-serif;
}


.p-tow {
    padding-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    font-family: "Outfit", sans-serif;
     
}
.line-img {
    background-color:  transparent;
    padding: 13px 11px 13px 12px;
    border:1px solid  #F4EEFF;
    border-radius: 50%;
}

.card-bottom a {
    background-color:transparent;
    padding: 12px 24px;
    border: 1px solid #7842E8 ;
    border-radius: 50px;
    font-size: 16px;
    line-height: 120%;
    font-weight: 500;
    color: #7842E8;
    transition: 0.50s ease-in-out;
    font-family: "Outfit", sans-serif;
    display: inline-block;

}

.card-bottom a:hover{
    background-color: #7842E8;
    color: #FFF;
}

.card-footer {
    padding-top: 24px;
    padding-bottom:32px ;
}


/* ==================SECTION-03============== */


 .section-03 {
    background-image: url(Legal-img/Frame\ 74199.jpg);
    background-repeat: no-repeat;
   background-size: cover;
    min-height: 561px;
    padding-top: 122px;
}
 .heading-sect-03 {
    padding-bottom: 64px;
    max-width: 699px;
    margin: auto;
    text-align: center;
 }

.sect-3_heading {
  
    font-size: 42px;
    line-height: 1.2976190476190477em;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    color: #2E2E32;

}

.sect-3_cards {
   display: flex;
   justify-content: center;
   gap: 29px;
    
}

.Paragraph-16-R {
  
    font-size: 16px;
    line-height: 1.6em;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: #919099;
    padding-top: 16px;
    max-width: 637px;
    margin: auto;
}

 

.sect-3-card {
    width: 263px;
    height: 297px;
    
    text-align: center;
    transition: .50s ease-in-out;
    padding: 30px 20px;
}

.Landing__H4 {
    font-size: 25px;
    line-height: 1.4em;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    color: #2E2E32;
}

.Landing_p {
    font-size: 14px;
    line-height: 1.5714285714285714em;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: #919099;
    padding-top: 12px;
}

.sect-3-card:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;

}


/* ============SECTION-04========= */



.section-04 {
 background-image: url(Legal-img/Frame\ 74202\ \(3\).jpg);
 background-repeat: no-repeat;
 background-size: cover;
 min-height: 975px;
 padding-top: 112px;
}



.sect-04_heading {
    max-width: 750px;
    margin: auto;
    text-align: center;
}


.sect-04_heading h2{
    font-size: 42px;
    line-height: 130%;
    font-weight: 600;
    color: #2E2E32;
    padding-bottom: 16px;
    font-family: "Outfit", sans-serif;
}
.sect-04_heading p{
    font-size: 16px;
    line-height: 160%;
    font-weight: 400;
    color: #919099;
  
    font-family: "Outfit", sans-serif;
    padding-bottom: 64px;

}

.left-side-content {
    max-width: 556px;
  
    height: 450px;
    background-image: url(Legal-img/Vector\ 329.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.section-04-content {
    display: grid;    
   grid-template-columns: repeat(2 , 1fr);
   align-items: center;
    
   
}

.img-secure img {
    background-color: #ffff;
    padding: 18px 18px ;
    border-radius: 50px;
    box-shadow: 0 4px 52px rgb(226,225,225) ;
}



.secure {
    display: flex;
    gap: 30px;
     
}
.secures-text h5 {
    padding-bottom: 12px;
    font-size: 20px;
    line-height: 140%;
    font-weight: 500;
    font-family: "Outfit", sans-serif;
    color: #2E2E32;
}

.secures-text p {
    
    font-size: 16px;
    line-height: 160%;
    font-weight: 400;
    font-family: "Outfit", sans-serif;
    color: #919099;
    max-width: 370px;
}



  .Award {
    display: flex;
    gap: 30px;
    padding-top: 64px;
    position: absolute;
    right: 0;
}


.Award-text h5 {
    padding-bottom: 12px;
    font-size: 20px;
    line-height: 140%;
    font-weight: 500;
    font-family: "Outfit", sans-serif;
    color: #2E2E32;
    text-align: right;
}
.Award-text p {
     
    font-size: 16px;
    line-height: 160%;
    font-weight: 400;
    font-family: "Outfit", sans-serif;
    color: #919099;
    text-align: right;
    max-width: 370px;
}

.Award-winning {
    display: none;
}



.Transition {
    display: flex;
    position: absolute;
   bottom: 0;
   gap: 30px;
}

.Transition  h5{
    padding-bottom: 12px;
    font-size: 20px;
    line-height: 140%;
    font-weight: 500;
    font-family: "Outfit", sans-serif;
    color: #2E2E32;
}
.Transition p {
    font-size: 16px;
    line-height: 160%;
    font-weight: 400;
    font-family: "Outfit", sans-serif;
    color: #919099;
    
     max-width: 370px;
}

 .right-side-sect-04 img {
    max-width: 543px;
height: 582px;

 }



/* =======TABLATE__RESPONSIVE======= */
@media   (min-width: 768px) and (max-width: 1199px) {


/* ===============SECTION-02======== */

.section-02 {
    background-image: url(Legal-img/Pricing\ Page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1194px;
    padding-top: 60px;
}


.hero-h1 {
    font-size: 48px;
   
    padding-top: 7px;
    padding-bottom: 15px;
    
}

.pricing-section {
    display: flex;
    gap: 30px;
    padding-top: 45px;
    flex-wrap: wrap;
    justify-content: center;
}

.pricing-card {
    background-color: #FFFF;
    padding: 22px 16px 22px 16px;
    text-align: center;
    box-shadow: 0px 4px 32px  rgb(234,234,236);
    align-items: center;
    border-top: 6px solid #7842E8;
    border-radius: 24px;
}


/* SECTION===========-03 */
 
.section-03 {
  
    padding-top: 80px;
}
.sect-3_cards {
    display: flex;
    justify-content: center;
    gap: 29px;
    flex-wrap: wrap;
}


/* =======SECTION-04====== */

.section-04 {
    min-height: 789px;
    padding-top: 80px;
}




.section-04-content {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    align-items: center;
    justify-items: center;
}
.left-side-content {
    background-image: none;
    max-width: 412px;
    height: 445px;
}

 

.Award {
    display: none;
}

.Award-winning {
    display: block;
}

.main-awrd {
    display: flex;
    gap: 15px;
    padding-bottom: 20px;
}

.main-awrd  h5 {
    text-align: unset;
}
.main-awrd  p{
    text-align: unset;
}



.right-side-sect-04 img {
    max-width: 383px;
    height: 391px;
}

.secure {
    display: flex;
    gap: 15px;
    padding-bottom: 20px;
}

.Transition {
    display: flex;
    position: unset;
    
    gap: 15px;
}


}









/* =======MOBILE___RESPONSIVE======= */
@media (min-width:280px) and (max-width:767px) {

/* ======SECTION-01======== */
    
 
.Logo {
        max-width: 80px;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: unset;
        gap: 26px;
    }

    .nav-iteam {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .get-btn {
        display: none;
       
       
    }



    /* ========SECTION-02====== */


    .section-02 {
 
        padding-top: 45px;
    }



    .hero-p {
        max-width: 637px;
        font-size: 15px;
        line-height: 1.6em;
        font-weight: 400;
        color: #919099;
        text-align: center;
        padding-bottom: 15px;
    }

    .pricing-section {
        display: flex;
        gap: 30px;
        padding-top: 40px;
        align-items: center;
        flex-direction: column;
    }


  .pricing-card {
    background-color: #FFFF;
    padding: 15px 12px 15px 12px;
}

    .hero-h1 {
        font-size: 29px;
        line-height: 130%;
        font-weight: 600;
        color: #2E2E32;
        padding-top: 10px;
        padding-bottom: 10px;
    }



    .prceing-logo img {
        padding-bottom: 20px;
        width: 80px;
    }
    
    .priceing-plan h2 {
        font-size: 30px;
        
    }


    .priceing-plan {
        min-height: 110px;
        text-align: center;
    }


    .card-footer {
        padding-top: 18px;
        padding-bottom: 20px;
    }

    .p-tow {
        padding-bottom: 5px;
        
    }


/* ========SECTION-03======= */

.section-03 {
  
    padding-top: 45px;
}





.sect-3_cards {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}


.heading-sect-03 {
    padding-bottom: 16px;
}

.sect-3_heading {
    font-size: 28px;
   
}

.Paragraph-16-R {
    font-size: 14px;
    padding-top: 6px;
    text-align: center
    
    ;
}
/* ========SECTION-04======== */


.section-04 {
   
    padding-top: 45px;
}

.section-04-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 40px;
}
.sect-04_heading h2 {
    font-size: 28px;
 
}

.sect-04_heading p {
    font-size: 15px;
    padding-bottom: 7px;
    text-align: center;
}



.left-side-content {
    max-width: 350px;
    height: 450px;
   background-image: none;
    
}

.img-secure img {
    background-color: #ffff;
    padding: 18px 18px;
    border-radius: 50px;
    box-shadow: 0 4px 52px rgb(226,225,225);
    max-width: 100%;
}

.secure {
    display: flex;
    gap: 15px;
    padding-bottom: 20px;
}

.Award-winning {
   display: block;
}

.Award-winning  h5 {
    text-align: unset;
}
.Award-winning  p {
    text-align: unset;
}


.main-awrd {
    display: flex;
    gap: 15px;
    padding-bottom: 15px;
}

.Award-text h5 {
    padding-bottom: 3px;
    font-size: 18px;
    line-height: 140%;
    font-weight: 500;
    font-family: "Outfit", sans-serif;
    color: #2E2E32;
    text-align: unset;
}

.secures-text h5 {
    padding-bottom: 3px;
    font-size: 18px;
    
}

.Transition  h5 {
    padding-bottom: 4px;
    font-size: 18px;
    
}

.Transition {
    display: flex;
    position: unset;
    gap: 15px;
}
.secures-text p {
    font-size: 14px;
    text-align: left;
}

.Transition p {
    font-size: 14px;
    text-align: left;
     
}


.Award-text p {
    font-size: 14px;
    text-align: left;
}
.Award {
    display: none;
    
}


.right-side-sect-04 img {
    max-width: 330px;
    height: 313px;
    padding-top: 24px;
}

}

 @media (min-width:120px) and (max-width:400px)
  {
    .sing-up {
        display: none;
        
    }
 }